{% extends 'base.html' %}
{% block title %} Adoption Agency {% endblock %}

{% block heading %} Edit {{pet.name}} {% endblock %}
{% block content %}

<form id="pet-edit-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}

  <a href="/{{pet.id}}" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>

{% endblock %}